# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Salón1\Documents\DAM\Lenguaje de Marcas\2da EV\UT3. Lenguajes para el almacenamiento y transmisión de información\1. XML\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
